<div class="container">
  <h1>Scheduler</h1>
    <div class="row" id="schedule-controls">
      <div class="col-md-6 col-sm-6">
      
      </div>
      <div class="col-md-6 col-sm-6">
        <input ng-model="newRole" placeholder="New Role"/>
        <button ng-click="addRole(newRole)">Add</button>
      </div>
    </div>
    <div class="row">
        <div class="col-md-9 chart-div">
          <gantt first-day-of-week="1"
               from-date=""
               to-date=""
               load-data="loadData = fn"
               remove-data="removeData = fn"
               clear-data="clearData = fn"
               sort-mode="mode"
               view-scale="scale"
               work-hours="[4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]"
               column-width="scale === 'hour' && 5 || scale === 'day' && 100"
               column-sub-scale="scale === 'hour' && 4"
               show-non-work-hours="false"
               weekend-days="[0,6]"
               show-weekends="showWeekends"
               max-height="maxHeight"
               on-gantt-ready="addSamples()"
               on-row-added="rowEvent(event)"
               on-row-clicked="rowEvent(event)"
               on-row-updated="rowEvent(event)"
               on-scroll="scrollEvent(event)"
               on-task-clicked="taskEvent(event)"
               on-task-updated="taskEvent(event)"
               template-url="/template/gantt.tmpl.html">
         </gantt>
    </div>
    <div class="col-md-3">
      <h2>Employees</h2>
      <h3><span class="label" style="background-color:{{ currentEmp.color }}" >{{ currentEmp.name }}</span></h3>
      <div class="row emp-row" ng-repeat="employee in employees">
        <div class="col-md-9">
          <span class="label employee" style="background-color:{{ employee.color }}" ng-click="setEmployee(employee)">{{ employee.name }}</span>
          </div>
        <div class="col-md-3">
          <p>0 hrs</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="row" id="schedule-controls">
    <div class="col-md-12 col-sm-12">
      <div ng-repeat="role in roles">
          <h4>{{ role }}</h4>
      </div>
    </div>
  </div>
</div>